@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --navbar-color: rgba(242, 242, 242, 1);
  font-family: 'Montserrat', sans-serif;


  background-color: rgba(255, 255, 255, 1);
/*
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;*/
}

* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  margin: 8px;
}