.editProfileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
.headerText {
    display: flex;
    gap: 5px;
    align-items: center;
    color: rgba(89, 89, 89, 1);
}
.headerText > h2 {
    margin: 0;
}

.selectionContainer {
    display: flex;
    width: 80%;
    justify-content: space-around;
    padding: 20px;
}
.userInfoOption,
.userWorkoutsOption {
    color: rgba(89, 89, 89, 1);
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    transition: all 0.2s ease;
}
.optionSelected {
    color: black;
    text-decoration: underline 2px;
}
.userInfoOption:hover,
.userWorkoutsOption:hover {
    cursor: pointer;
    opacity: 0.8;
}
.editProfileContainer > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    outline: 1px solid rgba(191, 191, 191, 1);
    border-radius: 8px;
    width: 75%;
    margin: 20px;
}

.userInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.usernameEmailContainer {
    outline: 1px solid rgba(191, 191, 191, 1);
    border-radius: 8px;
    padding: 10px;
}

.inputField {
    display: block;
    margin: 10px;
    color: rgba(89, 89, 89, 1);
    font-weight: 600;
}
.labelContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}
.labelContainer > p {
    margin: 0;
}
.inputField > input {
    margin: 5px 0;
    border: none;
    outline: 1px solid rgba(191, 191, 191, 1);
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    font-size: 1rem;
    transition: all 0.2s ease;
    font-family: inherit;
    color: rgba(89, 89, 89, 1);
}
.inputField > input:disabled {
    opacity: 0.5;
}
.inputField > input:disabled:hover {
    cursor: not-allowed;
}
.inputField > input:enabled:hover {
    outline-color: rgba(89, 89, 89, 1);
}
.inputField > input:enabled:focus {
    transition: none;
    outline: 2px solid rgba(0, 149, 255, 1);
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttonContainer > button {
    border: none;
    outline: 1px solid rgba(0, 149, 255, 1);
    background-color: rgba(0, 167, 255, 1);
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    transition: all 0.2s ease;
    width: 48%;
}
.buttonContainer > button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.returnButton {
    text-decoration: none;
    outline: 1px solid rgba(191, 191, 191, 1);
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(89, 89, 89, 1);
    transition: all 0.2s ease;
    background-color: var(--navbar-color);
    width: 48%;
    text-align: center;
}
.returnButton:hover {
    opacity: 0.8;
    cursor: pointer;
}

.userWorkoutsContainer {
    width: 75%;
}
