.header {
    position: sticky;
    top: 0;
    height: 60px;
    background-color: var(--navbar-color);
    outline: 1px solid rgba(191, 191, 191, 1);
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    transition: all 0.2s ease;
}
.logo:hover {
    opacity: 0.8;
}
.logo > img {
    width: 45px;
}
.logo > h1 {
    color: rgba(89, 89, 89, 1);
    font-weight: 700;
    font-size: 25px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}
.navLink {
    text-decoration: none;
    color:rgba(89, 89, 89, 1);
    font-weight: 600;
    transition: all 0.2s ease;
}
.navLink:hover {
    opacity: 0.8;
}
.navLinkActive {
    text-decoration: none;
    outline: 2px solid rgba(89, 89, 89, 1);
    padding: 5px;
    border-radius: 8px;
    color:rgba(89, 89, 89, 1);
    font-weight: 600;
    transition: all 0.2s ease;
}
.navLinkActive:hover {
    opacity: 0.8;
}
.separator {
    height: 55%;
    width: 1px;
    background-color: rgba(89, 89, 89, 1);
}

.githubLogo {
    transition: all 0.2s ease;
}
.githubLogo > img {
    height: 30px;
    vertical-align: bottom;
}
.githubLogo:hover {
    opacity: 0.8;
}

.powerOff {
    transition: all 0.2s ease;
}
.powerOff:hover {
    cursor: pointer;
    opacity: 0.8;
}
