input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.newWorkoutContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.headerText {
    display: flex;
    gap: 5px;
    align-items: center;
    color: rgba(89, 89, 89, 1);
}
.headerText > h2 {
    margin: 0;
}
.newWorkoutContainer > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    outline: 1px solid rgba(191, 191, 191, 1);
    border-radius: 8px;
    width: 75%;
    margin: 10px;
}
.newWorkoutContainer > form > h2 {
    margin: 0;
    color: rgba(89, 89, 89, 1);
    text-align: center;
}

.visibilityContainer,
.levelContainer {
    display: flex;
    gap: 10px;
}
.visibilityContainer > label,
.levelContainer > label {
    color: rgba(89, 89, 89, 1);
}
.visibilityLabel,
.levelLabel {
    display: flex;
    gap: 3px;
}
.visibilityLabel:hover,
.levelLabel:hover,
.visibilityLabel > input:hover,
.levelLabel > input:hover {
    cursor: pointer;
}

.workoutName > h3,
.workoutDesc > h3,
.exerciseSelectionContainer > h3,
.workoutCurrentExercises > h3,
.totalSetsContainer > h3 {
    color: rgba(89, 89, 89, 1);
    margin-bottom: 5px;
    margin-top: 5px;
}
.workoutName > input {
    border: none;
    outline: 1px solid rgba(191, 191, 191, 1);
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    font-size: 1rem;
    transition: all 0.2s ease;
    font-family: inherit;
    color: rgba(89, 89, 89, 1);
}
::placeholder {
    color: rgba(191, 191, 191, 1);
}
.workoutName > input:hover {
    outline-color: rgba(89, 89, 89, 1);
}
.workoutName > input:focus {
    transition: none;
    outline: 2px solid rgba(0, 149, 255, 1);
}

.workoutDesc > textarea {
    border: none;
    outline: 1px solid rgba(191, 191, 191, 1);
    padding: 8px;
    border-radius: 8px;
    font-size: 1rem;
    resize: none;
    transition: all 0.2s ease;
    font-family: inherit;
    margin: 0;
    width: 100%;
    height: 150px;
    color: rgba(89, 89, 89, 1);
}
.workoutDesc > textarea:hover {
    outline-color: rgba(89, 89, 89, 1);
}
.workoutDesc > textarea:focus {
    transition: none;
    outline: 2px solid rgba(0, 149, 255, 1);
}

.exerciseSelection {
    display: flex;
    gap: 10px;
}
.exerciseSelectionAndClear {
    display: flex;
    gap: 3px;
    width: 100%;
}
.exerciseSelectionField {
    border: none;
    outline: 1px solid rgba(191, 191, 191, 1);
    border-radius: 8px 0px 0px 8px;
    padding: 8px;
    font-size: 1rem;
    font-family: inherit;
    width: inherit;
    transition: all 0.2s ease;
    background-color: white;
    color: rgba(89, 89, 89, 1);
}
.exerciseSelectionField > option:disabled {
    color: rgba(191, 191, 191, 1);
}
.exerciseSelectionField:hover {
    outline-color: rgba(89, 89, 89, 1);
    cursor: pointer;
}
.exerciseSelectionField:focus {
    transition: none;
    outline: 2px solid rgba(0, 149, 255, 1);
}
.clearExerciseInput {
    border: none;
    outline: 1px solid rgba(191, 191, 191, 1);
    border-radius: 0px 8px 8px 0px;
    color: rgba(89, 89, 89, 1);
    font-size: 1rem;
    transition: all 0.2s ease;
}
.clearExerciseInput:hover {
    opacity: 0.8;
    cursor: pointer;
}
.exerciseSelection > input {
    border: none;
    outline: 1px solid rgba(0, 149, 255, 1);
    border-radius: 8px;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    font-family: inherit;
    background-color: rgba(0, 167, 255, 1);
    font-weight: 600;
    color: white;
    transition: all 0.2s ease;
}
.exerciseSelection > input:hover {
    cursor: pointer;
    opacity: 0.8;
}
.exerciseSelection > input:disabled {
    cursor: auto;
    opacity: 0.3;
}

.workoutExercise {
    padding: 10px;
}
.noExercisesYet {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(191, 191, 191, 1);
    opacity: 0.5;
    padding-top: 20px;
}
.noExercisesYet > p {
    font-weight: 900;
    margin: 5px;
}
.exerciseNameContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}
.exerciseNameContainer > p {
    font-weight: 500;
    color: rgba(89, 89, 89, 1);
    margin: 0;
}
.exerciseNameContainer > input {
    border: none;
    color: white;
    background-color: rgba(217, 43, 43, 1);
    outline: 1px solid rgba(176, 18, 18, 1);
    font-family: inherit;
    padding: 7px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.2s ease;
}
.exerciseNameContainer > input:hover {
    cursor: pointer;
    opacity: 0.8;
}
.workoutExercise > p {
    font-weight: 600;
    color: rgba(89, 89, 89, 1);
}
.repsSetsRest {
    display: flex;
    justify-content: space-around;
}
.exerciseRepsContainer,
.exerciseSetsContainer,
.exerciseRestContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.exerciseRepsContainer > p,
.exerciseSetsContainer > p,
.exerciseRestContainer > p {
    margin: 10px;
    color: rgba(89, 89, 89, 1);
}
.repsInputs,
.setsInputs,
.restInputs,
.totalSetsInputs {
    display: flex;
    gap: 5px;
}
.repsValue,
.setsValue,
.restValue,
.totalSetsValue {
    text-align: center;
    border: none;
    outline: 1px solid rgba(191, 191, 191, 1);
    border-radius: 8px;
    color: rgba(89, 89, 89, 1);
    transition: all 0.2s ease;
    font-family: inherit;
    font-size: 1rem;
}

.repsValue:hover,
.setsValue:hover,
.restValue:hover,
.totalSetsValue:hover {
    outline-color: rgba(89, 89, 89, 1);
}
.repsValue:focus,
.setsValue:focus,
.restValue:focus,
.totalSetsValue:focus {
    transition: none;
    outline: 2px solid rgba(0, 149, 255, 1);
}
.restInputs {
    align-items: center;
}
.restInputs > span {
    color: rgba(89, 89, 89, 1);
    font-size: 0.8rem;
}
.changeValueButton {
    font-family: inherit;
    border-radius: 8px;
    color: rgba(89, 89, 89, 1);
    font-size: 1rem;
    border: none;
    outline: 1px solid rgba(191, 191, 191, 1);
    transition: all 0.2s ease;
}
.changeValueButton:hover {
    opacity: 0.8;
    cursor: pointer;
}
.changeValueButton:disabled {
    opacity: 0.3;
    cursor: auto;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: rgba(89, 89, 89, 1);
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.buttonContainer > button {
    border: none;
    outline: 1px solid rgba(0, 149, 255, 1);
    background-color: rgba(0, 167, 255, 1);
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    transition: all 0.2s ease;
    width: 48%;
}
.buttonContainer > button:hover {
    opacity: 0.8;
    cursor: pointer;
}
.buttonContainer > button:disabled {
    cursor: auto;
    opacity: 0.3;
}
.returnButton {
    text-decoration: none;
    outline: 1px solid rgba(191, 191, 191, 1);
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(89, 89, 89, 1);
    transition: all 0.2s ease;
    background-color: var(--navbar-color);
    width: 48%;
    text-align: center;
}
.returnButton:hover {
    opacity: 0.8;
    cursor: pointer;
}

.successMessageContainer {
    font-weight: 500;
    color: green;
}
.errorMessageContainer {
    font-weight: 500;
    color: red;
}
