.newWorkoutContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.newWorkoutContainer > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    outline: 1px solid rgba(191, 191, 191, 1);
    border-radius: 8px;
}
.newWorkoutHeader > h2 {
    margin: 0;
    text-align: center;
    color: rgba(89, 89, 89, 1);
}
.headerSeparator {
    height: 3px;
    width: 100%;
    background-color: rgba(89, 89, 89, 1);
    margin-top: 5px;
    margin-bottom: 5px;
}

.visibilityContainer {
    display: flex;
    gap: 10px;
}
.visibilityContainer > label {
    color: rgba(89, 89, 89, 1);
}
.visibilityInput {
    cursor: pointer;
}
.visibilityOption {
    display: flex;
    gap: 3px;
}

.workoutName > h3 {
    color: rgba(89, 89, 89, 1);
    margin-bottom: 5px;
    margin-top: 5px;
}
.workoutName > input {
    border: none;
    outline: 1px solid rgba(191, 191, 191, 1);
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    font-size: 1rem;
    transition: all 0.2s ease;
    font-family: inherit;
}
.workoutName > input:hover {
    outline-color: rgba(89, 89, 89, 1);
}
.workoutName > input:focus {
    transition: none;
    outline: 2px solid rgba(0, 149, 255, 1);
}

.workoutDesc > h3 {
    color: rgba(89, 89, 89, 1);
    margin-bottom: 5px;
    margin-top: 5px;
}
.workoutDesc > textarea {
    border: none;
    outline: 1px solid rgba(191, 191, 191, 1);
    padding: 8px;
    border-radius: 8px;
    font-size: 1rem;
    resize: none;
    transition: all 0.2s ease;
    font-family: inherit;
    margin: 0;
}
.workoutDesc > textarea:hover {
    outline-color: rgba(89, 89, 89, 1);
}
.workoutDesc > textarea:focus {
    transition: none;
    outline: 2px solid rgba(0, 149, 255, 1);
}

.exerciseSelection > h3 {
    color: rgba(89, 89, 89, 1);
    margin-bottom: 5px;
    margin-top: 5px;
}
.exerciseInputContainer {
    display: flex;
    gap: 10px;
}
.exerciseInput {
    display: flex;
    gap: 3px;
    width: 100%;
}
.exerciseInputField {
    border: none;
    outline: 1px solid rgba(191, 191, 191, 1);
    border-radius: 8px 0px 0px 8px;
    padding: 8px;
    font-size: 1rem;
    font-family: inherit;
    width: inherit;
    transition: all 0.2s ease;
}
.exerciseInputField:hover {
    outline-color: rgba(89, 89, 89, 1);
}
.exerciseInputField:focus {
    transition: none;
    outline: 2px solid rgba(0, 149, 255, 1);
}
.clearExerciseInput {
    border: none;
    outline: 1px solid rgba(191, 191, 191, 1);
    border-radius: 0px 8px 8px 0px;
    color: rgba(89, 89, 89, 1);
    font-size: 1rem;
    transition: all 0.2s ease;
}
.clearExerciseInput:hover {
    opacity: 0.8;
    cursor: pointer;
}
.exerciseInputContainer > input {
    border: none;
    outline: 1px solid rgba(0, 149, 255, 1);
    border-radius: 8px;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    font-family: inherit;
    background-color: rgba(0, 167, 255, 1);
    font-weight: 600;
    color: white;
    transition: all 0.2s ease;
}
.exerciseInputContainer > input:hover {
    cursor: pointer;
    opacity: 0.8;
}
.exerciseInputContainer > input:disabled {
    cursor: auto;
    outline: 1px solid rgb(100, 190, 255);
    background-color: rgb(148, 217, 255);
    cursor: auto;
    opacity: 1;
}

.workoutCurrentExercises > h3 {
    color: rgba(89, 89, 89, 1);
    margin-bottom: 5px;
    margin-top: 5px;
}
.noExercisesYet {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(191, 191, 191, 1);
    opacity: 0.8;
    padding: 20px;
}
.noExercisesYet > p {
    font-family: inherit;
    font-weight: 900;
    margin: 5px;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: rgba(89, 89, 89, 1);
}
.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttonContainer > button {
    border: none;
    outline: 1px solid rgba(0, 149, 255, 1);
    background-color: rgba(0, 167, 255, 1);
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    transition: all 0.2s ease;
    width: 48%;
}
.buttonContainer > button:hover {
    opacity: 0.8;
    cursor: pointer;
}
.buttonContainer > button:disabled {
    outline: 1px solid rgb(100, 190, 255);
    background-color: rgb(148, 217, 255);
    cursor: auto;
    opacity: 1;
}
.returnButton {
    text-decoration: none;
    outline: 1px solid rgba(191, 191, 191, 1);
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(89, 89, 89, 1);
    transition: all 0.2s ease;
    background-color: var(--navbar-color);
    width: 48%;
    text-align: center;
}
.returnButton:hover {
    opacity: 0.8;
    cursor: pointer;
}
