.registerContainer {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.registerContainer > form {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: space-around;
    height: 100%;
    outline: 1px solid rgba(191, 191, 191, 1);
    border-radius: 8px;
    padding: 20px;
}
.registerContainer > form > h2 {
    margin: 0;
    text-align: center;
    color: rgba(89, 89, 89, 1);
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttonContainer > button {
    border: none;
    outline: 1px solid rgba(0, 149, 255, 1);
    background-color: rgba(0, 167, 255, 1);
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    transition: all 0.2s ease;
    width: 48%;
}
.buttonContainer > button:disabled {
    outline: 1px solid rgb(103, 187, 248);
    background-color: rgb(139, 209, 247);
}
.buttonContainer > button:enabled:hover {
    opacity: 0.8;
    cursor: pointer;
}
.returnButton {
    text-decoration: none;
    outline: 1px solid rgba(191, 191, 191, 1);
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(89, 89, 89, 1);
    transition: all 0.2s ease;
    background-color: var(--navbar-color);
    width: 48%;
    text-align: center;
}
.returnButton:hover {
    opacity: 0.8;
    cursor: pointer;
}

.errorContainer {
    color: red;
    text-align: center;
}