.userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userInfoContainer {
    display: flex;
    width: 75%;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
}
.usernameContactButton {
    display: flex;
    gap: 20px;
}
.usernameAndContact > h2,
.usernameAndContact > p {
    color: rgba(89, 89, 89, 1);
    margin: 0;
}
.followButtonTemplate {
    border: none;
    border-radius: 8px;
    padding: 0 50px;
    font-family: inherit;
    background: none;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s ease;
}
.followButtonTemplate:hover {
    cursor: pointer;
    opacity: 0.8;
}
.followButton {
    outline: 1px solid rgba(0, 149, 255, 1);
    background-color: rgba(0, 167, 255, 1);
    color: white;
}
.unfollowButton {
    outline: 1px solid rgba(191, 191, 191, 1);
    background-color: var(--navbar-color);
    color: rgba(89, 89, 89, 1);
}
.followCountContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.followersCount,
.followingCount {
    color: rgba(89, 89, 89, 1);
    font-size: 1.2rem;
}
.followersCount > p,
.followingCount > p {
    margin: 0;
    display: inline-block;
    font-weight: 500;
}

.nameBioContainer {
    width: 75%;
    padding: 0 20px;
}
.nameBioContainer > h3,
.nameBioContainer > p {
    color: rgba(89, 89, 89, 1);
    margin: 0;
}
.nameBioContainer > h3 {
    font-weight: 600;
}
.nameBioContainer > p {
    margin-bottom: 20px;
}

.separator {
    height: 1px;
    width: 80%;
    background-color: rgba(89, 89, 89, 1);
}

.userWorkoutsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}
.userWorkoutsContainerLabel {
    color: rgba(89, 89, 89, 1);
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-start;
    margin: 0;
    margin-top: 1em;
}
.noWorkoutsText {
    color: rgba(89, 89, 89, 1);
    font-size: 0.8rem;
}
