.workoutInfoContainer {
    outline: 1px solid rgba(191, 191, 191, 1);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    background-color: var(--navbar-color);
    width: 100%;
    position: relative;
}
.workoutInfoContainer > h4 {
    position: absolute;
    top: 0;
    right: 20px;
    color: rgba(89, 89, 89, 1);
}

.timeAddedContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgba(89, 89, 89, 1);
}
.timeAddedContainer > p {
    margin: 0;
    font-size: 0.85rem;
    font-weight: 500;
}
.usernameLink {
    text-decoration: underline 1px rgba(89, 89, 89, 1);
    padding: 3px;
    border-radius: 8px;
    font-size: 0.85rem;
    font-weight: 500;
    color: rgba(89, 89, 89, 1);
    transition: all 0.2s ease;
}
.usernameLink:hover {
    opacity: 0.8;
}

.calendarIcon {
    color: rgba(89, 89, 89, 1);
}

.workoutName {
    display: flex;
    align-items: center;
    color: rgba(89, 89, 89, 1);
}
.workoutName > h3 {
    margin: 5px;
}
.workoutNameBio > p {
    margin: 5px;
    color: rgba(89, 89, 89, 1);
    font-size: 0.98rem;
}

.separator {
    height: 1px;
    background-color: rgba(89, 89, 89, 1);
}

.workoutOptionsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.saveLikeContainer {
    padding: 0 30px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.deleteButtonContainer {
    padding: 0 30px;
}

.likeContainer,
.saveContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.likeContainer > p,
.saveContainer > p {
    color: rgba(89, 89, 89, 1);
    margin: 0;
    margin-top: 5px;
    font-size: 0.8rem;
}

.likeIcon {
    color: rgb(253, 82, 82);
    transition: all 0.2s ease;
}
.likeIcon:hover {
    cursor: pointer;
    color: rgb(158, 2, 2);
}

.saveIcon {
    color: rgba(89, 89, 89, 1);
    transition: all 0.2s ease;
}
.saveIcon:hover {
    cursor: pointer;
    color: black;
}

.startWorkoutButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 30px;
}
.startWorkoutButtonContainer > input {
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s ease;
    width: fit-content;
}
.startWorkoutButtonContainer > input:hover {
    opacity: 0.8;
    cursor: pointer;
}
.startWorkout {
    outline: 1px solid rgba(0, 149, 255, 1);
    background-color: rgba(0, 167, 255, 1);
    color: white;
}
.finishWorkout {
    outline: 1px solid rgb(158, 158, 158);
    background-color: rgba(191, 191, 191, 1);
    color: white;
}
.exercisingTimeContainer {
    color: rgba(89, 89, 89, 1);
    font-size: 0.8rem;
}
